* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

* {
  font-family: 'Tenor Sans', sans-serif; }

.separador1 {
  width: 40%;
  margin: 0 0 1.5em 30%; }
  .separador1 img {
    width: 100%;
    object-fit: cover;
    object-position: center center; }

.nav {
  background-color: #fad0d1;
  display: flex;
  height: 10vh;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  z-index: +3; }
  .nav_toggle {
    font-size: 2em;
    background: none;
    border: 0;
    width: 15%;
    margin: 0 10% 0 0; }
  .nav_menu {
    position: fixed;
    top: 10vh;
    right: 100%;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    transition: right 0.5s;
    z-index: +4; }
    .nav_menu .nav_list {
      margin: 5%; }
      .nav_menu .nav_list_item {
        margin-top: 10px; }
    .nav_menu .redes ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly; }
  .nav_logo {
    height: 100%;
    width: 50%;
    text-align: center; }
    .nav_logo img {
      height: 100%;
      object-fit: cover;
      object-position: center center; }
  .nav .menu-activo {
    right: 0%; }
  .nav_buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
    margin: 0 10px 0 5%;
    justify-content: space-between; }
    .nav_buttons_search, .nav_buttons_carrito {
      font-size: 1.5em;
      background: none;
      border: 0; }

.home_recomendados {
  overflow: hidden; }
  .home_recomendados h2 {
    text-align: center;
    margin: 1em 0 0 0; }
  .home_recomendados_carrousel {
    width: 300%;
    height: 45vh;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 12%;
    transition: all .5s ease; }
    .home_recomendados_carrousel_item {
      width: 25%;
      display: flex;
      flex-flow: column nowrap;
      overflow: hidden;
      align-items: center; }
      .home_recomendados_carrousel_item img {
        width: 80%;
        height: 65%;
        object-fit: cover;
        object-position: center center; }
      .home_recomendados_carrousel_item h2 {
        margin: 0.5em; }
  .home_recomendados_selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    .home_recomendados_selector button {
      margin: 0.5em 1em; }

footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5em 0;
  background-color: #eaeaea; }
  footer .separador1 {
    margin: 0 30%; }
  footer .redes ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 0.5em; }
    footer .redes ul li {
      width: 20%; }
  footer .contacto {
    margin-bottom: 0.5em; }
    footer .contacto p {
      text-align: center; }

.home {
  width: 100vw;
  padding-top: 10vh;
  height: auto; }
  .home_titulo {
    width: 100%;
    height: 60vh;
    overflow: hidden; }
    .home_titulo .titulo {
      font-size: 2em;
      position: absolute;
      top: 40vh;
      z-index: +2; }
      .home_titulo .titulo p {
        padding-left: 2em; }
      .home_titulo .titulo p:first-child {
        padding-left: 1em; }
    .home_titulo_slider {
      width: 300%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      animation: slide-home 20s infinite alternate ease-in-out; }
      .home_titulo_slider_item {
        width: 100%/3;
        overflow: hidden; }
        .home_titulo_slider_item img {
          object-fit: cover;
          object-position: center center;
          width: 100%; }
  .home_novedades {
    display: flex;
    flex-flow: column nowrap; }
    .home_novedades h2 {
      text-align: center;
      font-size: 1.5em;
      margin-top: 2em; }
    .home_novedades_list {
      display: grid;
      grid-template-rows: 50vh 50vh;
      grid-template-columns: 1fr 1fr; }
      .home_novedades_list .home_novedades-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0.5em 0; }
        .home_novedades_list .home_novedades-item img {
          object-fit: cover;
          object-position: center center;
          height: 75%; }
    .home_novedades a {
      text-align: center; }
  .home_eventos h2 {
    text-align: center;
    margin-top: 1em; }
  .home_eventos_fechas {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50vh;
    margin: 1em 0; }
    .home_eventos_fechas img {
      object-fit: cover;
      object-position: center center;
      width: 50%; }
  .home_eventos_eventos {
    width: 70%;
    height: 45vh;
    margin: 15%;
    overflow: hidden; }
    .home_eventos_eventos img {
      width: 100%;
      object-fit: cover;
      object-position: center center; }
  .home_video {
    width: 100%;
    height: auto;
    margin: 1em 0; }
  .home_trending h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 1em; }
  .home_trending_hashtag ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    .home_trending_hashtag ul li {
      width: 20%;
      margin: 0.5em;
      text-align: center; }
  .home_caracteristicas {
    display: flex;
    flex-flow: column nowrap;
    align-content: center; }
    .home_caracteristicas img {
      width: 40%;
      text-align: center;
      margin: 1em 30%; }
    .home_caracteristicas p {
      width: 60%;
      margin: 0 20%;
      text-align: center; }
    .home_caracteristicas .separador1 {
      width: 40%;
      margin: 0.5em 0 0 30%; }
      .home_caracteristicas .separador1 img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        margin: 0; }
    .home_caracteristicas_list {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr; }
      .home_caracteristicas_list_item p {
        font-size: 10px; }
  .home_redes h2 {
    text-align: center;
    font-size: 1.5em; }
  .home_redes img {
    width: 70%;
    margin: 1em 15%;
    object-fit: cover;
    object-position: center center;
    height: 40%; }

@keyframes slide-home {
  0% {
    transform: translateX(0%); }
  33% {
    transform: translateX(-100%/3%); }
  66% {
    transform: translateX(-66.66667%); } }
