* {
  margin: 0;
  padding: 0;
  font-size: 16x;
  color: #555555; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #555555; }

h1, h2 {
  letter-spacing: 4px;
  font-size: 1.3em;
  color: #000000; }

h3 {
  letter-spacing: 2px; }

* {
  font-family: 'Tenor Sans', sans-serif; }

.separador1 {
  width: 40%;
  margin: 0 0 1.5em 30%; }
  .separador1 img {
    width: 100%;
    object-fit: cover;
    object-position: center center; }

.nav {
  background-color: #fad0d1;
  display: flex;
  height: 10vh;
  width: 100%;
  position: fixed;
  justify-content: center;
  z-index: +3; }
  .nav_toggle {
    background: none;
    border: 0;
    margin-left: 1rem;
    align-self: center;
    width: 25vw; }
    .nav_toggle img {
      width: 2em;
      float: left; }
  .nav_menu {
    position: fixed;
    top: 10vh;
    right: 100%;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    transition: right 0.5s;
    z-index: +4; }
    .nav_menu .nav_list {
      margin: 5%;
      height: 50vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start; }
      .nav_menu .nav_list_item {
        margin: 1em; }
    .nav_menu .telefono {
      width: 60%;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      margin: 1em 0 1em 1em;
      font-size: 1.2em;
      justify-content: space-evenly;
      align-items: center; }
      .nav_menu .telefono iconify-icon {
        font-size: 1.5em; }
    .nav_menu .redes ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly; }
      .nav_menu .redes ul li {
        text-align: center;
        font-size: 1.5em; }
  .nav_logo {
    height: 100%;
    width: 50vw;
    text-align: center; }
    .nav_logo img {
      height: 100%;
      object-fit: cover;
      object-position: center center; }
  .nav .menu-activo {
    right: 0%; }
  .nav_buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 25vw;
    margin-right: 1rem;
    justify-content: right; }
    .nav_buttons_search, .nav_buttons_carrito {
      background: none;
      border: 0; }
      .nav_buttons_search img, .nav_buttons_carrito img {
        width: 1.8em;
        object-fit: cover;
        object-position: center center; }
      .nav_buttons_search img:last-child, .nav_buttons_carrito img:last-child {
        margin-left: 0.5rem; }

.home_recomendados {
  overflow: hidden; }
  .home_recomendados h2 {
    text-align: center;
    margin: 3em 0 0 0; }
  .home_recomendados_carrousel {
    width: 300%;
    height: 45vh;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 12%;
    transition: all .5s ease; }
    .home_recomendados_carrousel_item {
      width: 25%;
      display: flex;
      flex-flow: column nowrap;
      overflow: hidden;
      align-items: center; }
      .home_recomendados_carrousel_item img {
        width: 80%;
        height: 65%;
        object-fit: cover;
        object-position: center center; }
      .home_recomendados_carrousel_item h3 {
        margin: 0.3em; }
      .home_recomendados_carrousel_item p {
        color: #d88f8f; }
  .home_recomendados_selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    .home_recomendados_selector button {
      margin: 0.5em 1em; }

footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5em 0;
  background-color: #eaeaea; }
  footer .separador1 {
    margin: 0 30%; }
  footer .redes ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 1.5em; }
    footer .redes ul li {
      width: 20%;
      font-size: 1.5em;
      text-align: center; }
      footer .redes ul li iconify-icon {
        color: #000000; }
  footer .contacto {
    margin-bottom: 0.5em; }
    footer .contacto p {
      text-align: center; }

.home {
  width: 100vw;
  padding-top: 10vh;
  height: auto; }
  .home_titulo {
    width: 100%;
    height: 60vh;
    overflow: hidden; }
    .home_titulo .titulo {
      position: absolute;
      top: 40vh;
      z-index: +2; }
      .home_titulo .titulo p {
        padding-left: 2em;
        color: #333333;
        font-size: 2em;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 1.2px;
        margin: -5% 0;
        opacity: 0.8; }
        .home_titulo .titulo p span {
          font-size: 1em;
          color: #333333;
          font-family: 'Abhaya Libre', serif; }
      .home_titulo .titulo p:first-child {
        padding-left: 1em; }
    .home_titulo_slider {
      width: 300%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      animation: slide-home 20s infinite alternate ease-in-out; }
      .home_titulo_slider_item {
        width: 100vw;
        overflow: hidden; }
        .home_titulo_slider_item img {
          object-fit: cover;
          object-position: center center;
          width: 100%; }
  .home_novedades {
    display: flex;
    flex-flow: column nowrap; }
    .home_novedades h2 {
      text-align: center;
      margin-top: 2em; }
    .home_novedades_list {
      display: grid;
      grid-template-rows: 50vh 50vh;
      grid-template-columns: 1fr 1fr; }
      .home_novedades_list .home_novedades-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: 0.5em;
        overflow: hidden; }
        .home_novedades_list .home_novedades-item img {
          object-fit: cover;
          object-position: center center;
          height: 75%; }
        .home_novedades_list .home_novedades-item h3 {
          margin: 0.3em; }
        .home_novedades_list .home_novedades-item p {
          color: #d88f8f; }
    .home_novedades a {
      text-align: center;
      font-size: 1.2em;
      margin: 2em 0; }
  .home_eventos h2 {
    text-align: center;
    margin-top: 1em; }
  .home_eventos_fechas {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50vh;
    margin: 1em 0; }
    .home_eventos_fechas img {
      object-fit: cover;
      object-position: center center;
      width: 50%; }
  .home_eventos_eventos {
    width: 70%;
    height: 45vh;
    margin: 15%;
    overflow: hidden; }
    .home_eventos_eventos img {
      width: 100%;
      object-fit: cover;
      object-position: center center; }
  .home_video {
    width: 100%;
    height: auto;
    margin: 1em 0; }
  .home_trending {
    margin-top: 4em; }
    .home_trending h2 {
      text-align: center;
      margin: 1em; }
    .home_trending_hashtag ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly; }
      .home_trending_hashtag ul li {
        width: 20%;
        margin: 0.5em;
        text-align: center; }
  .home_caracteristicas {
    display: flex;
    flex-flow: column nowrap;
    align-content: center; }
    .home_caracteristicas img {
      width: 40%;
      text-align: center;
      margin: 1em 30%; }
    .home_caracteristicas p {
      width: 60%;
      margin: 0 20%;
      text-align: center; }
    .home_caracteristicas .separador1 {
      width: 40%;
      margin: 0.5em 0 0 30%; }
      .home_caracteristicas .separador1 img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        margin: 0; }
    .home_caracteristicas_list {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr; }
      .home_caracteristicas_list_item p {
        font-size: 10px; }
  .home_redes {
    margin-top: 2em; }
    .home_redes h2 {
      text-align: center; }
    .home_redes_links {
      text-align: center;
      margin-top: 0.2em;
      font-size: 2em; }
    .home_redes img {
      width: 70%;
      margin: 1em 15%;
      object-fit: cover;
      object-position: center center;
      height: 40%; }

@keyframes slide-home {
  0% {
    transform: translateX(0%); }
  33% {
    transform: translateX(-100%/3%); }
  66% {
    transform: translateX(-66.66667%); } }

.main_contacto {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10vh;
  text-align: center;
  width: 100%;
  align-items: center; }
  .main_contacto h1 {
    margin-top: 1em; }
  .main_contacto .separador1 {
    margin: 0 15% 1em 15%; }
    .main_contacto .separador1 img {
      width: 100%; }
  .main_contacto img {
    width: 50%; }
  .main_contacto p {
    width: 70%;
    margin: 1em 0;
    font-size: 1em; }
  .main_contacto button {
    font-size: 1em;
    width: 50%;
    margin-bottom: 1em;
    background-color: #fad0d1;
    border: 0;
    height: 2em; }
  .main_contacto iconify-icon.primero {
    margin: 0;
    color: #d88f8f;
    font-size: 3em; }
  .main_contacto iconify-icon {
    color: #d88f8f;
    font-size: 3em;
    margin-top: 1em 0 0 0; }

.producto {
  width: 100%;
  padding-top: 10vh; }
  .producto img {
    width: 90%;
    margin: 5%;
    max-height: 60vh;
    object-fit: cover;
    object-position: center center; }
  .producto h1 {
    text-align: center;
    margin: 0.5em; }
  .producto p {
    text-align: center;
    color: #d88f8f;
    margin-bottom: 1em; }
  .producto_porciones {
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    margin-bottom: 1em;
    justify-content: space-evenly; }
  .producto_carro {
    margin-bottom: 1em; }
    .producto_carro button {
      width: 100%;
      height: 10vh;
      border: 0;
      background-color: #fad0d1;
      text-align: start;
      padding: 1em; }
  .producto_ingredientes h3 {
    font-size: 1em;
    margin-bottom: 1em;
    padding-left: 1em; }
  .producto_ingredientes ul {
    padding-left: 1em; }
    .producto_ingredientes ul li {
      margin-bottom: 0.5em; }
  .producto h2 {
    text-align: center;
    margin-top: 2em; }
  .producto_sugerido {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    justify-content: center; }
    .producto_sugerido_item {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      align-items: center;
      overflow: hidden; }
      .producto_sugerido_item img {
        height: 75%;
        object-fit: cover;
        object-position: center center; }
