.home_recomendados {
    overflow: hidden;

    h2 {
        text-align: center;
        margin: 3em 0 0 0;
    }

    &_carrousel {
        width: 300%;
        height: 45vh;
        @include flex-row-nowrap;
        padding: 0 12%;
        transition: all .5s ease;        

        &_item {
            width: 25%;
            @include flex-col-nowrap;
            overflow: hidden;
            align-items: center;

            img {
                width: 80%;
                height: 65%;
                @include img-pos;
            }

            h3 {
                margin: 0.3em;
            }
            p {
                color: $boton-active1;
            }
        }
    }

    &_selector {        
            @include flex-row-nowrap;
            justify-content: center;

            button {
                margin: 0.5em 1em;
            }        
    }
}