.home {
    width: 100vw;
    padding-top: 10vh;
    height: auto;

    &_titulo {
        width: 100%;
        height: 60vh;
        overflow: hidden;

        .titulo {
            position: absolute;
            top: 40vh;
            z-index: +2;            

            p {
                padding-left: 2em;
                color: #333333;
                font-size: 2em;
                font-family: 'Abhaya Libre', serif;
                letter-spacing: 1.2px;
                margin: -5% 0;
                opacity: 0.8;
                span {
                    font-size: 1em;
                    color: #333333;
                    font-family: 'Abhaya Libre', serif;
                }                
            }

            p:first-child {
                padding-left: 1em;
            }
        }

        &_slider {
            width: 300%;
            height: 100%;
            overflow: hidden;
            @include flex-row-nowrap;
            animation: slide-home 20s infinite alternate ease-in-out;

            &_item {
                width: 100vw;
                overflow: hidden;                

                img {
                    @include img-pos;
                    width: 100%;                    
                }
            }
        }
    }

    &_novedades {
        @include flex-col-nowrap;

        h2 {
            text-align: center;            
            margin-top: 2em;
        }

        &_list {
            display: grid;
            grid-template-rows: 50vh 50vh;
            grid-template-columns: 1fr 1fr;

            .home_novedades-item {
                @include flex-col-nowrap;
                align-items: center;
                width: 90%;
                height: 100%;
                margin: 0.5em;
                overflow: hidden;

                img {
                    @include img-pos;
                    height: 75%;
                }
                h3 {
                    margin: 0.3em;
                }
                p {
                    color: $boton-active1;
                }
            }
        }

        a {
            text-align: center;
            font-size: 1.2em;
            margin: 2em 0;
        }
    }

    &_eventos {
        h2 {
            text-align: center;
            margin-top: 1em
        }        

        &_fechas {
            @include flex-row-nowrap;
            width: 100%;
            height: 50vh;
            margin: 1em 0;

            img {
                @include img-pos;
                width: 50%;
            }
        }

        &_eventos {
            width: 70%;
            height: 45vh;
            margin: 15%;
            overflow: hidden;

            img {
                width: 100%;
                @include img-pos;
            }
        }
    }

    &_video {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }

    &_trending {
        margin-top: 4em;
        h2 {
            text-align: center;
            margin: 1em;
        }

        &_hashtag {  
            
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                
                li {
                    width: 20%;
                    margin: 0.5em;
                    text-align: center;
                }
            }
        }
    }

    &_caracteristicas {
        @include flex-col-nowrap;
        align-content: center;

        img {
            width: 40%;
            text-align: center;
            margin: 1em 30%;
        }
        p {
            width: 60%;
            margin: 0 20%;
            text-align: center;
        }

        .separador1 {
            width: 40%;
            margin: 0.5em 0 0 30%;

            img {
                width: 100%;
                @include img-pos;
                margin: 0;
            }
        }
        &_list {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;

            &_item {
                p {
                    font-size: 10px;
                }
            }
        }
    }

    &_redes {
        margin-top: 2em;
        h2 {
            text-align: center;            
        }

        &_links {            
            text-align: center;
            margin-top: 0.2em;
            font-size: 2em;         
        }

        img {
            width: 70%;
            margin: 1em 15%;
            @include img-pos;
            height: 40%;
        }
    }
}

@keyframes slide-home {
    0% {
        transform: translateX(-0%);
    }

    33% {
        transform: translateX(-100%/3%);
    }

    66% {
        transform: translateX(-100%*2/3);
    }
}