.home {
    width: 100vw;
    padding-top: 10vh;
    height: auto;

    &_titulo {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 90vh;

        &_left {
            background: linear-gradient(0deg, $letizir 0%, $boton-active1 50%, $letizir 90%, #fadada 100%);
            width: 100%;

            .titulo-text {
                position: absolute;
                top: 50%;
                width: 65vw;
                z-index: +2;

                p {
                    padding-left: 1em;
                    color: #333333;
                    font-size: 1.7em;
                    font-family: 'Abhaya Libre', serif;
                    letter-spacing: 1.2px;
                    margin: -5% 0;
                    opacity: 0.8;

                    span {
                        font-size: 1em;
                        color: #333333;
                        font-family: 'Abhaya Libre', serif;
                    }
                }

                p:first-child {
                    padding-left: 0.5em;
                }
            }
        }

        &_right {
            @include flex-col-nowrap;
            width: 40vw;
            height: 90vh;

            .right-img {
                width: 100%;
                height: 30vh;
                overflow: hidden;

                img {
                    @include img-pos;
                    width: 40vw;
                }
            }
        }
    }

    &_novedades {
        @include flex-col-nowrap;

        h2 {
            text-align: center;
            margin-top: 2em;
        }

        &_list {
            display: grid;
            grid-template-rows: 50vh 50vh;
            grid-template-columns: 1fr 1fr;

            .home_novedades-item {
                @include flex-col-nowrap;
                align-items: center;
                width: 90%;
                height: 100%;
                margin: 0.5em;
                overflow: hidden;

                img {
                    @include img-pos;
                    height: 75%;
                }

                h3 {
                    margin: 0.3em;
                }

                p {
                    color: $boton-active1;
                }
            }
        }

        a {
            text-align: center;
            font-size: 1.2em;
            margin: 2em 0;
        }
    }

    &_eventos {
        &_titulo {
            h2 {
                text-align: center;
                margin-top: 1em
            }
        }

        &_fechas {
            @include flex-row-nowrap;
            width: 100%;
            height: 50vh;
            margin: 1em 0;

            img {
                @include img-pos;
                width: 50%;
            }
        }

        &_eventos {
            width: 70%;
            height: 45vh;
            margin: 15%;
            overflow: hidden;

            img {
                width: 100%;
                @include img-pos;
            }
        }

        &_video {
            width: 100%;
            height: auto;
            margin: 1em 0;
        }
    }


    &_trending {
        margin-top: 4em;

        h2 {
            text-align: center;
            margin: 1em;
        }

        &_hashtag {

            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;

                li {
                    width: 20%;
                    margin: 0.5em;
                    text-align: center;
                }
            }
        }
    }

    &_caracteristicas {
        @include flex-col-nowrap;
        align-content: center;

        img {
            width: 40%;
            text-align: center;
            margin: 1em 30%;
        }

        p {
            width: 60%;
            margin: 0 20%;
            text-align: center;
        }

        .separador1 {
            width: 40%;
            margin: 0.5em 0 1em 30%;

            img {
                width: 100%;
                @include img-pos;
                margin: 0;
            }
        }

        &_list {
            display: grid;
            grid-template-rows: 30vh 30vh;
            grid-template-columns: 45vw 45vw;
            margin: 0 5vw;

            &_item {
                @include flex-col-nowrap;
                justify-content: space-evenly;
                align-items: center;
                height: 80%;

                .icono {
                    width: 100%;
                    height: 40%;

                    img {
                        object-position: center center;
                        object-fit: contain;
                        height: 90%;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        left: 30%;
                    }
                }

                p {
                    font-size: 0.8em;
                    height: 60%;
                    margin: 0;
                }

                .iconos {
                    @include flex-row-nowrap;
                    justify-content: center;
                    align-content: center;
                    height: 40%;
                    width: 70%;
                    overflow: hidden;

                    img {
                        object-fit: contain;
                        object-position: center center;
                        height: 70%;
                        margin: 0;
                        position: relative;
                        top: 20%;
                    }

                    img:first-child,
                    img:last-child {

                        top: 0%;
                    }

                }
            }
        }
    }

    &_redes {
        margin-top: 2em;

        h2 {
            text-align: center;
        }

        &_links {
            text-align: center;
            margin-top: 0.2em;
            font-size: 2em;
        }

        img {
            width: 70%;
            margin: 1em 15%;
            @include img-pos;
            height: 40%;
        }
    }
}

//Adapatacion a dispositivos

@media (min-width: $tablet) and (max-width: $laptop) {

    .home {
        &_titulo {
            &_left {

                .titulo-text {
                    p {
                        font-size: 4em;
                        margin: -5% 0;
                    }
                }
            }
        }

        &_novedades {
            &_list {
                grid-template-rows: 50vh;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        &_eventos {
            display: grid;
            grid-template-columns: 45vw 45vw;
            grid-template-rows: 10vh 80vh;
            grid-template-areas:
                "titulo titulo"
                "fechas eventos";
            justify-content: center;
            align-content: center;
            margin: 0 5vw;

            &_titulo {
                grid-area: titulo;
            }

            &_fechas,
            &_video {
                grid-area: fechas;
                width: 90%;
                height: 45%;
            }

            &_eventos {
                grid-area: eventos;
                height: 70%;
                width: 90%;
                margin: 15% 0 15% 10%;
            }

            &_video {
                position: relative;
                top: 50%;
            }
        }
    }

}

//Animacion nav_menu

@keyframes slide-home {
    0% {
        transform: translateX(-0%);
    }

    33% {
        transform: translateX(-100%/3%);
    }

    66% {
        transform: translateX(-100%*2/3);
    }
}